@using Breadsticks.Models

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

<h2>Finance</h2>

@{
    var data = (User)ViewData["user"];
}

<p>Assets: @data.GetTotalAsset()</p>
<p>Debts: $@data.GetTotalDebt()</p>
<p>Total: $@data.GetTotalBalance()</p>

<div width="1000" height="600">
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['@data.GetAccountByIndex(0).GetName()', '@data.GetAccountByIndex(1).GetName()',
                '@data.GetAccountByIndex(2).GetName()', '@data.GetAccountByIndex(3).GetName()',
                '@data.GetAccountByIndex(4).GetName()', '@data.GetAccountByIndex(5).GetName()'],
            datasets: [{
                data: [@data.GetAccountByIndex(0).GetBalance(), @data.GetAccountByIndex(1).GetBalance(),
                    @data.GetAccountByIndex(2).GetBalance(), @data.GetAccountByIndex(3).GetBalance(),
                    @data.GetAccountByIndex(4).GetBalance(), @data.GetAccountByIndex(5).GetBalance()],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false,
            }
        }
    });
</script>